/*************************************************
    GENERAL STYLES
*************************************************/

/* CONTAINER ESTERNO CHE DI DIMENSIONA 
CON LA MAX-WIDTH E CHE TIENE LA DIMENSIONE 
E UN CONTAIENR INTERNO CHE PRENDE L'80% DI LARGHEZZA
 DEL SUO GENITORE */

.my-container{
    width: 80%;
    margin: 0 auto;
}


/************************************************
    CUSTOM PROPERTIES
************************************************/

 :root{
 
    /* COLOR BACKGROUND*/
   
       --first-color: #2C3E50;
       --second-color:#1ABC9C;
   
    /* COLOR TEXT */ 
   
       --first-text:#FFFFFF;
       --second-text:rgb(3, 1, 1);
       --third-text:#6A6A6A;
   }
 
/************************************************
    SITE SECTIONS
************************************************/

/*
   HEADER
*/

.color-simona-1{
    background-color: var(--first-color);
}

.color-simona-2{
    background-color: var(--second-color);
}

hr{
    width: 20%;
}


/*
   MAIN
*/

.hr-footer > hr{
    width:100%;
}

textarea{
    width:100%
}

/* 
    FOOTER
*/


.width-container{
    height: 30%;
}
  

