/*************************************************
    RESET
*************************************************/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*************************************************
    GENERAL STYLES
*************************************************/

body{
    font-family: 'Montserrat', sans-serif;     
}

/************************************************
    CUSTOM PROPERTIES
************************************************/

 :root{
 
    /* COLOR BACKGROUND*/
   
       --first-color: #2C3E50;
       --second-color:#1ABC9C;
   
    /* COLOR TEXT */ 
   
       --first-text:#FFFFFF;
       --second-text:rgb(3, 1, 1);
       --third-text:#6A6A6A;
   }
   
/************************************************
    UTILITIES
************************************************/
 
/* 
    LAYOUT 
*/

 
/************************************************
    SITE SECTIONS
************************************************/

/*
   HEADER
*/
header .navbar{
    background-color: var(--first-color);
}

header .navbar a{
    color:var(--first-text);
}


/*
   MAIN
*/


/* 
    FOOTER
*/


  

/************************************************
    SOLUZIONE RESPONSIVE-MEDIA-QUERY MOBILE-FIRST
************************************************/

/* 
    MOBILE BIG 
*/

@media screen and (min-width:576px){

    /* COLUMNS */


}


/* 
  TABLET
*/

@media screen and (min-width:768px){
     
    /*  COLUMNS  */



}

/*
  DESKTOP
*/
 
@media screen and (min-width:992px){

    /*  COLUMNS  */



}



/*************************************************
    SOLUZIONE RESPONSIVE-MEDIA-QUERY DESKTOP-FIRST
*************************************************/




/*************************************************
    DEBUG
*************************************************/
    
.debug{
    border:2px dashed lightcoral;
}  




